# Backend Service
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: {{ include "myapp.name" . }}-backend
  ports:
    - port: 80
      targetPort: {{ .Values.backend.port }}
      protocol: TCP
  type: ClusterIP

---
# Frontend Service
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: {{ include "myapp.name" . }}-frontend
  ports:
    - port: 80
      targetPort: {{ .Values.frontend.port }}
      protocol: TCP
  type: ClusterIP
